body {
      font-family: Georgia, "Times New Roman", Times, serif;
        color: #555;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}
.jumbotron .btn {
    font-size: 15px;
    margin-bottom: 0px;
}

.invisible {
    visibility: hidden
}

.list-group-item {
    cursor:pointer;
}
